<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <section id="todo-list">
      <%- include('./partials/header.ejs')%> <%-
      include('./partials/form.ejs')%>

      <section class="todo-table">
        <% if(todos.length > 0){%>
        <ul>
          <%todos.forEach(todo=> { %>
          <li>
            <span title="createdAt: <%= todo.createdAt.toLocaleDateString()%>"
              ><%= todo.todo%></span
            >

            <a id="delete" data-doc="<%= todo._id%>" title="delete"
              ><i class="fas fa-trash-alt"></i
            ></a>
          </li>

          <%})%>
        </ul>
        <%} else {%>
        <h3>No more todos</h3>
        <%}%>
      </section>
    </section>

    <!-- Javascript -->
    <script>
      const date = document.querySelector('#date');
      const trashes = document.querySelectorAll('#delete');
      date.innerHTML = new Date().toLocaleDateString();
      trashes.forEach((trash) => {
        trash.addEventListener('click', (e) => {
          const item = e.target.innerHTML.replace(/ /g, '-');
          const endpoint = `/todo/${trash.dataset.doc}`;

          fetch(endpoint, {
            method: 'DELETE',
          })
            .then((res) => res.json())
            .then((data) => (window.location.href = data.redirect))
            .catch((err) => console.log(err));
        });
      });
    </script>
  </body>
</html>
